<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="connectionString"
			 connectionString="Data Source=DESKTOP-J5QCSNT;Initial Catalog=Northwind;User ID=sa;Password=29081985as"/>
	</connectionStrings>
</configuration>